[Unit]
Description = Turtlebot Services (slam)
Wants       = network-online.target

[Service]
ExecStart   = /usr/local/bin/start_turtlebot_slam.sh
Restart     = always
RestartSec  = 3

[Install]
WantedBy    = multi-user.target

